/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/
  
body {
  background-color: #F7F9F9;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #2081C3;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
}
nav > a {
  color: white;
  text-decoration: none;
  padding: 0px 0px 0px 40px;
}

footer {
  height: 40px;
  width: 100%;
  background-color: #0A2C42;
  color: white;
  display: flex;
  align-items: center;
}
footer > p {
  padding: 0px 0px 0px 30px;
}

.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index-buttons > button > a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.index-buttons > button {
  background-color: #2081C3;
  border-radius: 5px;
  padding: 10px;
  width: auto;
  margin: 20px;
}
.index-buttons{
  display: flex;
  flex-direction: column;
  margin: 20px 0px 20px 0px;
}

.beer-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.beer-card {
  margin : 40px;

}
.random-beer {
  display: flex;
  width: 80%;
  height: 600px;
  margin: 40px;
}
.beer-pic{
  width: 30%;
}
.beer-info {
  width: 70%;
}
.beer-pic > img {
  max-height: 600px;
}