<div class="index-container">
  <img id="beer-image" src="/images/beer.png">  
  <button type="button" class="btn btn-primary"> <a class="btn-primary" href="/beers">Check the Beers!</a></button>
  <button type="button" class="btn btn-primary"><a class="btn-primary" href="/random-beers">Check a Random Beer</a></button>
</div>