<div class="content">
    <div class="inner-content">
        <img src="./images/beer.png" alt="" style="width:50%"><br>
        <button type="button" class="btn btn-primary">Check the beers!</button><br>
        <button type="button" class="btn btn-primary">Check a random beer!</button>
    </div>
</div>